[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "demos/gitlabrunner-ec2autoscale"]
	path = demos/gitlabrunner-ec2autoscale
	url = https://github.com/namanhishere/gitlabrunner-ec2autoscale
