public/*
report/generated/
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.pdf
report/*.fls
report/*.fdb_latexmk
report_vn.pdf
report_en.pdf
report/form/*.pdf
node_modules/
link-preview/github-avatar.jpg


# temp put the blog 0 as it needs to be fix
3.0-Blog0/
bitmask-demo/

# 3.3-Blog3/



# 1-Worklog/
2-Proposal/
4-EventParticipated/
5-Workshop/
6-Self-evaluation/
7-Feedback/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd