{{ partial "header.html" . }}

<article class="page-content">
  <header class="page-header">
    <h1>{{ .Title }}</h1>
    {{with .Date}}<div class="page-meta">{{ .Format "02/01/2006" }}</div>{{end}}
  </header>

  {{ partial "ai-share.html" . }}

  {{ .Content }}

  <footer class="footline">
    {{with .Params.LastModifierDisplayName}}
      <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a>
      {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
    {{end}}
  </footer>
</article>

{{ partial "footer.html" . }}
